@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: #2c2d2f;
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* Navbar begin */
.sidenav {
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #17181b;
  overflow-x: hidden;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  grid-column: 1;
}

.my-photo {
  object-fit: contain;
  height: 200px;
  width: 237px;
  margin-top: -31px;
}

.sidenav a {
  padding: 4px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f7f7;
  padding-top: 15px;
  font-family: "Raleway", sans-serif;
}

.sidenav a:hover {
  color: #01a3e1;
}

.sidenav h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f7f7f7;
  font-family: "Raleway", sans-serif;
  padding: 15px;
  letter-spacing: 5px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 30px;
  color: #f7f7f7;
}

#icon:hover {
  color: #01a3e1;
}

.links {
  width: inherit;
  position: absolute;
  bottom: 30px;
}
/* navbar end */

/* landing page */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  /* width: 100%; */
  background-image: url(https://picsum.photos/id/119/1700/1000);
  background-size: cover;
  padding: 10%;
  grid-column: 2;
}

.pic_me {
  height: 400px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.landing-page h1 {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  letter-spacing: 10px;
}

.landing-page span {
  font-family: "Raleway", sans-serif;
  color: #01a3e1;
  letter-spacing: 10px;
}

#changeText {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
/* landing page */
/* About me  */
#about-me {
  /* height: 100vh; */
  /* width: 100%; */
  background-color: #2c2d2f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 300px;
  padding: 5%;
  grid-column: 2;
}

.top-section {
  padding: 10px;
  font-size: 30px;
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  padding-left: 0;
}

.top-section h2 {
  font-family: "Raleway", sans-serif;
  color: #01a3e1;
  padding: 30px;
  padding-top: 35px;
  font-size: 30px;
  border-bottom: 1px #565759 dashed;
  letter-spacing: 2px;
  padding-left: 0;
  padding-right: 0;
}

.content {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #f7f7f7;
  margin-right: 20px;
}

.content h3 {
  padding: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.content q {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 2em;
  letter-spacing: 2px;
}

.content span {
  color: #01a3e1;
  font-family: "Raleway", sans-serif;
}

.personal {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #f7f7f7;
  padding: 20px;
}

.personal h3 {
  padding: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  margin-top: -20px;
}

.personal li {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 1em;
  padding: 20px;
  letter-spacing: 2px;
}

.input {
  margin-left: 10px;
}

.btn {
  border-radius: 10px;
  border: 2px solid #01a3e1;
  outline: none;
  color: #01a3e1;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 61px;
  line-height: 2.8em;
}

.btn:hover {
  background-color: #01a3e1;
  border-color: #01a3e1;
  outline: none;
  color: #2c2d2f;
}

.title {
  color: #01a3e1;
  border-bottom: 1px solid #f7f7f7;
}

.color {
  color: #01a3e1;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border-top: #565759 1px dashed;
}

.skills img {
  height: 150px;
  width: 200px;
  border-radius: 50px;
  margin-left: 110px;
  object-fit: fill;
}

.skills h3 {
  font-family: "Raleway", sans-serif;
  color: #01a3e1;
  font-size: 30px;
  letter-spacing: 2px;
}
/* About page */

/* experience */
#experience {
  /* height: 100vh; */
  /* width: auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  color: #f7f7f7;
  grid-column: 2;
}

#experience h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 30px;
  font-family: "Raleway", sans-serif;
  color: #01a3e1;
  padding-top: 35px;
  font-size: 30px;
  border-bottom: 1px #565759 dashed;
  letter-spacing: 2px;
}

.education {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}

.education h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.details {
  padding: 18px;
  margin: 10px;
  line-height: 1.8em;
  border-left: 3px #01a3e1 solid;
  margin-top: -5px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.details h5 {
  color: #01a3e1;
  font-size: 15px;
}

.work {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.work h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
}

.work-experience {
  padding: 20px;
  margin: 10px;
  line-height: 1.8em;
  border-left: 3px #01a3e1 solid;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.work-experience h5 {
  color: #01a3e1;
  font-size: 15px;
}

#cap-icon {
  padding: 10px;
  color: #01a3e1;
}
/* experience */

/* projects */

#projects {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  grid-column: 2;
}

.project-heading {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  font-family: "Raleway", sans-serif;
  color: #01a3e1;
  padding: 30px;
  padding-top: 35px;
  font-size: 30px;
  border-bottom: 1px #565759 dashed;
  letter-spacing: 2px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 400px;
  max-height: 310px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1%;
}

.cards {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 3;
  padding: 2px 2px;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
}

.card img {
  height: 200px;
  width: 398px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.info {
  padding: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  color: #f7f7f7;
}

.info h4 {
  color: #01a3e1;
}
.button {
  border-radius: 10px;
  border: 1px solid #01a3e1;
  outline: none;
  color: #01a3e1;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 6px;
  line-height: 1.8em;
}

.button:hover {
  background-color: #01a3e1;
  border-color: #01a3e1;
  outline: none;
  color: #2c2d2f;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80%;
  margin-bottom: 5%;
}
/* projects */

/* testimonials */
#testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-column: 2;
}

.testimonial-heading {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
  font-family: "Raleway", sans-serif;
  color: #01a3e1;
  padding: 30px;
  padding-top: 35px;
  font-size: 30px;
  border-bottom: 1px #565759 dashed;
  letter-spacing: 2px;
}

.testimonial-cards {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
  padding: 2px 50px;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
}

.testimonial-card {
  max-width: 400px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: #f7f7f7 1px solid;
  border-right: solid 1px #f7f7f7;
  border-left: solid 1px #01a3e1;
  border-top: #01a3e1 solid 1px;
  margin-bottom: 9%;
  padding: 2%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs img {
  height: 200px;
  width: 250px;
  border-radius: 90%;
  object-fit: cover;
}

.testimonial {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  color: #f7f7f7;
  letter-spacing: 2px;
}

.testimonial h4 {
  color: #01a3e1;
}

/* testimonials */
/* contact form */

.contact-form-section {
  grid-column: 2;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

#contact-me {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

.contact-form {
  grid-column: 2;
  display: grid;
  place-items: center;
}

.contact-heading {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  font-family: "Raleway", sans-serif;
  color: #01a3e1;
  padding: 30px;
  padding-top: 35px;
  font-size: 30px;
  border-bottom: 1px #565759 dashed;
  letter-spacing: 2px;
}

.fields {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  padding: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-input {
  border-radius: 50px;
  background: #565759;
  border: 1px solid #01a3e1;
  outline: none;
  color: white;
  padding: 3%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
}

.form-input::placeholder {
  color: #f7f7f7;
  font-family: "Raleway", sans-serif;
}

.form-label {
  font-family: "Raleway", sans-serif;
  color: #f7f7f7;
  margin-bottom: 10px;
  font-size: 20px;
}

button {
  border-radius: 50px;
  border: 2px solid #01a3e1;
  font-size: 26px;
  padding: 8px 97px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: #565759;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #01a3e1;
  border-color: #01a3e1;
  outline: none;
  color: #2c2d2f;
}

.form-label span {
  color: #01a3e1;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
/* contact form */

@media screen and (max-width: 440px) {
  body {
    position: relative;
    display: grid;
    grid-template-rows: 50px repeat(6, auto);
    grid-template-columns: 100vw;
  }

  .sidenav {
    width: 100vw;
    height: 50px;
    flex-direction: row;
    position: sticky;
    top: 0;
    grid-row: 1;
    z-index: 2;
  }

  .sidenav img {
    display: none;
  }

  .sidenav h2 {
    font-size: 20px;
  }

  .landing-page {
    grid-row: 2;
    grid-column: 1;
  }

  #about-me {
    grid-row: 3;
    grid-column: 1;
  }

  #experience {
    grid-row: 4;
    grid-column: 1;
  }

  #projects {
    grid-row: 5;
    grid-column: 1;
  }

  #testimonials {
    grid-row: 6;
    grid-column: 1;
  }

  .contact-form-section {
    grid-row: 7;
    grid-column: 1;
  }

  .sidenav img {
    margin-top: -15px;
  }
}
